.map:hover {
	cursor: pointer;
}

.map-focus {
	display: none;
	position: fixed;
	border-radius: 4px;
	background-color: white;
	padding: 1em;
	max-width: 250px;
}

.background {
	width: 100%;
	height: 100%;
	background-color: #00133a;
}